{% extends "themeapp/base.html" %}
{% block themecontent %}
  <a href="{% url 'pollsapp:index' %}"
     class="block py-2 pl-3 pr-4 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white md:dark:text-blue-500"
     aria-current="page">All Polls</a>
  <h2>Featured Polls</h2>
  {% for question in featured_questions %}
    <ul>
      <li>
        <a href="{{ question.get_absolute_url }}">{{ question.question_text|title }}?</a>
      </li>
    </ul>
  {% endfor %}
  <h2>Popular Polls</h2>
  {% for question in featured_questions %}
    <ul>
      <li>
        <a href="{{ question.get_absolute_url }}">{{ question.question_text|title }}?</a>
      </li>
    </ul>
  {% endfor %}
{% endblock themecontent %}
